* {
    font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
}

html body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

h1 {
    font-weight: 900;
}

p {
    font-weight: 400;
}

.navigation {
    height: 100%;
    background-color: #EEE;
}

.navigation ul {
    list-style-type: none;
    margin: 0;
    margin-right: 1rem;
    padding: 0;
    height: 100%;
    float: left;
    overflow: auto;
}

.navigation li a {
    display: flex;
    align-items: center;
    width: 12rem;
    padding: 0.75rem;
    margin-left: 0;
    margin-top: 0;
    background-color: #0267C1;
    color: #fff;
    text-decoration: none;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
}

button {
    padding: 0.75rem;
}
